<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicalpractitioner.mapper.RecordMapper">
    <update id="updateRecordStatus">
        update recordtable
        set flag = 4
        where #{today} > date and flag = 1;
    </update>
    <select id="queryRcdExist" resultType="java.lang.Integer">
        select recordIdx from recordtable
        where userId = #{userId} and doctorId = #{doctorId} and timeId = #{timeId} and date = #{date};
    </select>

</mapper>