<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicalpractitioner.mapper.UserMapper">
    <update id="updateInfoByUser" parameterType="com.medicalpractitioner.entity.User">
        update userinfotable
        set name = #{user.name},
            gender = #{user.gender},
            age = #{user.age},
            address = #{user.address},
            tel = #{user.tel},
            identification = #{user.identification},
            image = #{user.image}
        where userId = #{userId}
    </update>

    <select id="selectUserInfoById" resultType="com.medicalpractitioner.entity.User">
        select * from userinfotable where userId = #{id};
    </select>

    <select id="queryRecord" resultType="com.medicalpractitioner.entity.Record">
        select * from recordtable where userId = #{userId} ;
    </select>

</mapper>